In [2]:
import numpy as np
# student marks
student_marks = [['Name', ['A','B','C','D','E']],
                ['Ankit',[41,34,45,55,63]],
                 ['Aravind',[42,23,34,44,53]],
                 ['Lakshay',[32,23,13,54,67]],
                 ['Gyan',[23,82,23,63,34]],
                 ['Pranav', [21,23,25,56,56]]
            
                 ]

student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [4]:
student_marks[2][0]

'Aravind'

In [144]:
#Trying to seperate Students and Marks in B
students_with_marks_in_B = []

for student in student_marks[1:]:
    name=student[0]
    marks_in_B=student[1][1]
    
    students_with_marks_in_B.append([marks_in_B,name])
    print(name, marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

In [7]:
students_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [230]:
#answer for Q1: Who scored the highest mark in subject B
sorted(students_with_marks_in_B, reverse=True)[0][1]

'Gyan'

In [9]:
# Seperating students marks in C

students_with_marks_in_C = []

for student in student_marks[1:]:
    name=student[0]
    marks_in_C=student[1][2]
    
    students_with_marks_in_C.append([marks_in_C])
    print(name, marks_in_C)

Ankit 45
Aravind 34
Lakshay 13
Gyan 23
Pranav 25

In [220]:
#extracting students with marks in C
students_with_marks_in_C

[[45], [34], [13], [23], [25]]

In [286]:
#extracting students with marks in C into a seperate list

list_of_c = []

for total_of_c in students_with_marks_in_C:
    figure =total_of_c[0]
    
    list_of_c.append(figure)
    print(figure)

45
34
13
23
25

In [288]:
list_of_c

[45, 34, 13, 23, 25]

In [289]:
#answer for Q2: What is the average marks scored in the subject C
print(np.mean(list_of_c))

28.0

In [207]:
# Adding all the marks for each individual students
highestpercentage_byname = []
for student in student_marks [1:]:
    name= student[0]
    Highestpercentage=sum(student[1])/500*100
    
    highestpercentage_byname.append([Highestpercentage,name])
    print(name,Highestpercentage)

Ankit 47.599999999999994
Aravind 39.2
Lakshay 37.8
Gyan 45.0
Pranav 36.199999999999996

In [280]:
#answer for Q3: Who scored the highest percentage of marks
sorted(highestpercentage_byname, reverse= True)[0][1]

'Ankit'

In [282]:
# Deleting the lowest mark for each candidate and assinging seperate variables
first_4_marks_of_student = []
highestpercentage_top4=[]
for student in student_marks [1:]:
    name = student[0]
    first_4_marks = sorted(student[1], reverse=True)
    del(first_4_marks[-1])
    first4=sum(first_4_marks)
    first4avg = first4 / 400*100
    
    highestpercentage_top4.append([first4avg,name])
    
    
    print(name,first4avg)

Ankit 51.0
Aravind 43.25
Lakshay 44.0
Gyan 50.5
Pranav 40.0

In [283]:
# answer for Q4: if considered only top-4 subjects of a candidate, then who scored the highest percentage of marks

highestpercentage_top4
sorted(highestpercentage_top4,reverse=True)[0][1]

'Ankit'